body {
  padding:0;
  color: #777;
  background: #F0F0F0;
  overflow: scroll;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}

p {
  font-size: 12px;
}

footer p {
  margin-left:30px;
  font-size: 12px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  #bioverse-menu-bars { display: none; }  /* show it on small screens */
  #bioverse-menu-bars-reverse { display: block;}
}

@media screen and (min-width: 768px) and (max-width: 2560px) {
  #bioverse-menu-bars { display: block; }   /* hide it elsewhere */
  #bioverse-menu-bars-reverse { display: none;}
  body.sidebar-expand li#bioverse-menu-bars { display: none;}
  body.sidebar-collapse li#bioverse-menu-bars { display: block;}
}

.logo {
  display: block;
  width: 210px;
  height: 149px;
  background: url(/static/img/logo.svg);
  background-size: 210px 149px;
}

.navbar .navbar-inner {
  text-align: center;
}

.navbar .navbar-inner .nav {
  float: none;
  display:inline-block;
}

.navbar-custom {
  background-color: #C8C8C8;
  border-color: black;
}

.navbar {
  background-image: none;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
  border-radius: 0px;
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn-success {
  color: #fff;
  background-color: #777;
  border-color: #777;
}


.btn-success:hover {
    color: black;
    background-color: #FFA600;
    border-color: #FFA600;
}

a:hover,
a:focus {
  color: #54a1e3;
  text-decoration: none;
}

.row {
  margin-left:20px;
  margin-right:20px;
}

#wrapper {
  padding-left: 325px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -325px;
  left: 325px;
  width: 325px;
  background: #C8C8C8;
  position: absolute;
  height:1500px;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 325px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  
}

.sidebar-nav li a {
  color: #777;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

