{% extends base.html %}

{%block head%}

{%end%}

{% block content %}
<!-- Put something in here about suggested assays. Or maybe on the intro page to remind people that they always have to be thinking about
their selection or screen when designing-->

<body>

	<div class="container" align="center">
		<h4 style="padding:30px 0 50px 0;">I want to make a...</h4>
		<div class="row" style="padding:10px 0 30px 0;">
			<div class="col-md-4">
				<a href="/switch_types/"><strong>SWITCH</strong><br><img style="width:150px;" src="/static/img/tetR.png"></a>
			</div>
			<div class="col-md-4">
				<a href="/sensor_types/"><strong>SENSOR</strong><br><img style="width:300px;" src="/static/img/switch.png"></a>
			</div>
			<div class="col-md-4">
				<a href="#"><strong>ENZYME</strong><br><img style="width:150px;" src="/static/img/dhfr.png"></a>
			</div>
		</div>
<!--		<div class="row" style="padding:20px 0 30px 0;">
			<div class="col-md-4">
				<a href="/switch_types/"><strong>PATHWAY</strong><br><img style="width:300px;" src="/static/img/debs.png"></a>
			</div>
			<div class="col-md-4">
				<a href="/sensor_types/"><strong>CIRCUIT</strong><br><img style="width:300px;" src="/static/img/circuit.png"></a>
			</div>
			<div class="col-md-4">
				<a href="#"><strong>CHASSIS</strong><br><img style="margin-top:25px;width:300px;" src="/static/img/yeast.png"></a>
			</div>
		</div> -->
	</div>

</body>

{%end%}